:root {
  --medium-green: #55c57a;
  --light-green: #7ed56f;
  --dark-green: #28b485;
  --color-white: #fff;
  --color-light1: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 1.6rem;
}

/******* header ******/
.header {
  height: 95vh;
  background-image: linear-gradient(
      rgba(128, 214, 113, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.z-text {
  transform: rotateY(-15deg);
  transition: transform 1s;
}

.z-layer:not(:first-child) {
  color: var(--color-light1);
}

.heading-h1 {
  color: var(--color-white);
  margin: 30px;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
}

.headinh-h1-main {
  font-size: 1.5rem;
}

.headinh-h1-sub {
  font-size: 1.3rem;
}

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary-main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
}

.heading-primary-sub {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
}
